::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background-color: #FFEB3B;
  border-radius: 2px; }

::-webkit-scrollbar-thumb:hover {
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #ff9900;
  cursor: pointer; }

select:focus,
textarea:focus,
button:focus,
input:focus {
  outline: none; }

.chats .body .search input, .personal-chat .body .control input {
  border-radius: 5px;
  padding: 13px;
  width: 100%;
  border: 1px yellow solid;
  background: #292929;
  box-shadow: 1px 1px 2px 0px black inset;
  font-family: 'Open Sans';
  font-size: 14px;
  color: white;
  box-sizing: border-box; }

.main .footer, .achievements .footer, .describe-achievement .footer, .cars .footer, .chats .footer, .personal-chat .footer, .reports .footer {
  display: flex;
  height: 35px;
  width: 100%;
  align-items: center;
  justify-content: space-around; }
  .main .footer:before, .achievements .footer:before, .describe-achievement .footer:before, .cars .footer:before, .chats .footer:before, .personal-chat .footer:before, .reports .footer:before {
    content: '';
    content: '';
    width: 217px;
    height: 3px;
    margin-top: -17px;
    margin-left: 1px;
    background: yellow;
    position: absolute; }
  .main .footer a.btn, .achievements .footer a.btn, .describe-achievement .footer a.btn, .cars .footer a.btn, .chats .footer a.btn, .personal-chat .footer a.btn, .reports .footer a.btn {
    width: 15px;
    height: 15px; }
    .main .footer a.btn img, .achievements .footer a.btn img, .describe-achievement .footer a.btn img, .cars .footer a.btn img, .chats .footer a.btn img, .personal-chat .footer a.btn img, .reports .footer a.btn img {
      width: inherit;
      height: inherit; }

.achievements .head, .describe-achievement .head, .describe-achievement .body, .cars .head, .chats .head, .personal-chat .head, .reports .head {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 5px; }
  .achievements .head .title p, .describe-achievement .head .title p, .describe-achievement .body .title p, .cars .head .title p, .chats .head .title p, .personal-chat .head .title p, .reports .head .title p {
    color: yellow;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif; }
  .achievements .head .swap img, .describe-achievement .head .swap img, .describe-achievement .body .swap img, .cars .head .swap img, .chats .head .swap img, .personal-chat .head .swap img, .reports .head .swap img {
    width: 25px; }

.achievements .body, .cars .body, .chats .body, .personal-chat .body, .reports .body {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  padding: 5px 0px 5px 6px; }

.main, .achievements, .describe-achievement, .cars, .chats, .personal-chat, .reports {
  width: 100%;
  height: 490px;
  padding: 15px 0px 5px 0px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; }

p {
  margin: 0;
  padding: 0; }

.container {
  height: 100vh;
  width: 100%;
  background: lightcyan;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .container .col {
    width: 250px;
    height: inherit;
    display: flex;
    align-items: center; }
    .container .col .phone {
      position: relative;
      width: 250px;
      height: 520px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent url("img/phone-background.png") center center;
      background-size: cover; }
      .container .col .phone .display {
        width: 226px;
        height: 490px;
        padding: 0px;
        box-sizing: border-box;
        z-index: 1; }
      .container .col .phone .phone-box {
        position: absolute;
        width: 250px;
        height: 520px;
        top: 0;
        left: 0;
        background-image: url("img/phone.png");
        background-size: cover;
        z-index: 0; }

.main {
  align-items: center;
  justify-content: space-around; }
  .main .info-section {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
    height: 150px;
    width: 210px;
    box-sizing: border-box;
    /* max-height: 200px; */
    /* overflow-y: scroll; */
    position: relative;
    margin-top: 5px; }
    .main .info-section .clock p {
      font-size: 35pt;
      text-align: center;
      color: #3e3e3e;
      font-weight: 800;
      text-shadow: 1px 1px 1px #FFEB3B;
      font-family: 'Orbitron', sans-serif; }
    .main .info-section .money {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      position: relative; }
      .main .info-section .money .row {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .main .info-section .money .row .c1 {
          width: 20px; }
          .main .info-section .money .row .c1 img {
            width: inherit; }
        .main .info-section .money .row .c2 {
          width: 150px;
          font-size: 20px;
          padding-left: 10px; }
          .main .info-section .money .row .c2 p {
            text-align: right;
            font-family: 'Bungee', cursive;
            padding-right: 5PX;
            color: #3e3e3e;
            font-weight: 700;
            font-size: 15px;
            line-height: 100%; }
          .main .info-section .money .row .c2 .multi {
            color: yellow;
            font-size: 18px; }
          .main .info-section .money .row .c2 .rus {
            color: white;
            font-size: 20px; }
        .main .info-section .money .row .c3 {
          width: 20px; }
          .main .info-section .money .row .c3 img {
            width: inherit; }
  .main .center-menu {
    max-height: 172px;
    overflow-y: scroll; }
  .main .btn-section {
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 210px;
    /* max-height: 179px; */
    /* overflow-y: scroll; */
    position: relative;
    /* margin-top: 13px; */ }
    .main .btn-section .btn-wrapper {
      font-size: 8px;
      text-align: center;
      line-height: 200%; }
      .main .btn-section .btn-wrapper p {
        color: white;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase; }
    .main .btn-section .btn {
      width: 65px;
      height: 65px;
      border-radius: 5px;
      box-shadow: 1px 1px 2px 0px #292929;
      box-sizing: border-box; }
      .main .btn-section .btn img {
        width: 100%;
        height: 100%; }
    .main .btn-section .btn-yellow {
      background: yellow; }
    .main .btn-section .btn-bordered {
      border: 3px yellow solid;
      background: #292929;
      width: 60px;
      height: 60px; }
  .main .down-menu {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px; }
  .main .footer {
    margin-top: 8px; }

.achievements .body .line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-bottom: 1px; }
  .achievements .body .line .achievement {
    width: 107px;
    height: 107px;
    background-color: rgba(255, 255, 255, 0.6); }
    .achievements .body .line .achievement .img {
      padding: 8px; }
      .achievements .body .line .achievement .img img {
        width: 100%;
        height: 100%; }
    .achievements .body .line .achievement .control {
      position: absolute;
      bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 107px;
      height: 20px;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box; }
      .achievements .body .line .achievement .control .level p {
        color: yellow;
        font-weight: 800;
        font-family: 'Open Sans', sans-serif; }
      .achievements .body .line .achievement .control .link img {
        width: 17px;
        height: 17px; }

.describe-achievement .body .title {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  /* background-color: rgba(255, 255, 255, 0.6); */
  height: 55px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 10px;
  position: relative; }
  .describe-achievement .body .title p {
    color: yellow;
    text-shadow: 1px 1px 0px black;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-size: 15pt;
    line-height: 100%; }
.describe-achievement .body .img {
  width: 100%;
  padding: 10px 2px 4px 2px;
  height: 227px;
  box-sizing: border-box;
  /* background-color: rgba(255, 255, 255, 0.6); */
  margin-bottom: 10px;
  position: relative; }
  .describe-achievement .body .img .info {
    width: 210px;
    height: 80px;
    position: absolute;
    bottom: 60px;
    border-radius: 10px;
    background: linear-gradient(transparent, black, transparent); }
    .describe-achievement .body .img .info:hover {
      opacity: 0;
      transition: 0.4s; }
    .describe-achievement .body .img .info .first-achieved {
      text-align: center;
      color: yellow;
      font-family: 'Open Sans';
      font-size: 16pt;
      text-shadow: 1px 1px 0px black; }
    .describe-achievement .body .img .info .count-achieved {
      text-align: center;
      color: yellow;
      font-family: 'Open Sans';
      font-size: 35pt;
      font-weight: 800;
      text-shadow: 1px 1px 0px black; }
  .describe-achievement .body .img img {
    width: 100%; }
.describe-achievement .body .progress {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px yellow solid;
  background: #292929; }
  .describe-achievement .body .progress .color-line {
    width: 50%;
    height: inherit;
    background: #0de600 url(img/loading.png);
    background-size: contain; }
  .describe-achievement .body .progress .label {
    width: 200px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 0px; }
    .describe-achievement .body .progress .label p {
      font-size: 16px;
      text-align: center;
      font-weight: 800;
      font-family: 'Open Sans';
      color: yellow;
      text-shadow: 1px 1px 0px black; }
.describe-achievement .body .control {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  box-sizing: border-box; }
  .describe-achievement .body .control .btn-circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-sizing: border-box;
    background: transparent url("img/btn-add.png") center center;
    background-size: cover;
    padding: 5px; }
    .describe-achievement .body .control .btn-circle img {
      width: 100%;
      height: 100%; }
.describe-achievement .body .description {
  padding: 5px;
  box-sizing: border-box;
  width: 100%; }
  .describe-achievement .body .description p {
    font-family: 'Open Sans';
    font-size: 14px;
    word-break: break-all;
    text-align: justify;
    color: yellow;
    font-style: italic; }
.describe-achievement .body .rewards p {
  text-align: center;
  font-size: 14pt;
  line-height: 150%;
  color: yellow;
  font-weight: 800;
  font-family: 'Open Sans';
  text-transform: uppercase; }

.cars .body .car {
  width: 100%;
  height: 80px;
  background: rgba(4, 2, 2, 0.4);
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 0px 1px black;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap; }
  .cars .body .car h3 {
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    color: yellow; }
  .cars .body .car .control {
    width: 100%;
    height: 50px;
    display: flex;
    position: absolute; }
    .cars .body .car .control .left {
      border-radius: 5px 0px 0px 5px;
      background: #425642; }
    .cars .body .car .control .right {
      border-radius: 0px 5px 5px 0px;
      background: #3F51B5; }
    .cars .body .car .control .left,
    .cars .body .car .control .right {
      width: 97px;
      padding: 10px;
      opacity: 0;
      box-sizing: border-box;
      display: flex;
      align-items: center; }
      .cars .body .car .control .left:hover,
      .cars .body .car .control .right:hover {
        transition: 0.4s;
        opacity: 1; }
      .cars .body .car .control .left a,
      .cars .body .car .control .right a {
        text-align: center;
        width: 100%;
        display: block;
        text-decoration: none;
        font-family: 'Open Sans';
        text-transform: uppercase;
        color: white;
        font-size: 10pt;
        font-weight: 800; }

.chats .body .search {
  padding-bottom: 5px; }
.chats .body .dialogs {
  width: 100%;
  height: 347px;
  padding: 5px 0 5px 0px;
  box-sizing: border-box;
  overflow-y: scroll; }
  .chats .body .dialogs .message {
    background: #231e1ed9;
    padding: 5px 0;
    border-radius: 0;
    border-left: 3px yellow solid;
    display: flex;
    margin-top: 5px;
    cursor: pointer; }
    .chats .body .dialogs .message .icon {
      padding: 10px;
      box-sizing: border-box;
      width: 60px;
      height: 55px;
      border-radius: 0px 5px 5px 0px;
      border: 1px yellow solid;
      border-left: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .chats .body .dialogs .message .icon p {
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20pt;
        color: yellow; }
    .chats .body .dialogs .message .text {
      padding-left: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .chats .body .dialogs .message .text p.title::first-letter {
        text-transform: uppercase;
        color: yellow; }
      .chats .body .dialogs .message .text p {
        font-family: 'Open Sans';
        font-size: 10pt;
        color: #8c8c8c;
        width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
      .chats .body .dialogs .message .text p.title {
        font-weight: 900;
        color: white; }
.chats .body .control {
  padding-top: 5px;
  display: none; }
  .chats .body .control button {
    background: yellow;
    color: #292929;
    font-family: 'Open Sans';
    font-weight: 800;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px yellow solid;
    box-shadow: 1px 1px 0px 1px black;
    cursor: pointer; }

.personal-chat .head .title {
  width: 100%; }
  .personal-chat .head .title p {
    color: white;
    text-align: center; }
    .personal-chat .head .title p::first-letter {
      text-transform: uppercase;
      color: yellow; }
.personal-chat .body .history {
  width: 100%;
  height: 347px;
  overflow-y: scroll; }
  .personal-chat .body .history p {
    font-family: 'Open Sans';
    font-size: small;
    font-weight: 100; }
  .personal-chat .body .history .message-time {
    position: absolute;
    top: -18px; }
    .personal-chat .body .history .message-time p {
      color: white; }
  .personal-chat .body .history .message-from {
    border-left: 10px #ff8a00ed solid;
    padding: 5px;
    box-sizing: border-box;
    width: 180px;
    color: #292929;
    background: #ffffff;
    position: relative;
    margin-top: 25px;
    border-radius: 10px;
    min-height: 80px; }
    .personal-chat .body .history .message-from .message-time {
      right: 10px; }
    .personal-chat .body .history .message-from:before {
      content: '';
      position: absolute;
      right: -30px;
      bottom: 12px;
      border: 15px solid transparent;
      /* border-bottom: 15px solid #ffe503; */
      border-left: 15px solid #ffffff; }
  .personal-chat .body .history .message-to {
    border-right: 10px #00d40a solid;
    padding: 5px;
    box-sizing: border-box;
    width: 180px;
    margin-left: 25px;
    color: #292929;
    background: #ffffff;
    position: relative;
    margin-top: 25px;
    border-radius: 10px;
    min-height: 80px; }
    .personal-chat .body .history .message-to .message-time {
      left: 10px; }
    .personal-chat .body .history .message-to:before {
      content: '';
      position: absolute;
      left: -30px;
      bottom: 12px;
      border: 15px solid transparent;
      /* border-bottom: 15px solid #ffe503; */
      border-right: 15px solid #ffffff; }
.personal-chat .body .control {
  width: 100%;
  padding-top: 5px;
  position: relative; }
  .personal-chat .body .control input {
    padding-right: 45px; }
  .personal-chat .body .control button {
    position: absolute;
    top: 9px;
    right: 4px;
    width: 38px;
    height: 38px;
    border: NONE;
    background: #3a3a3a;
    border-radius: 0px 4px 4px 0px;
    color: #ffff00;
    font-weight: 800;
    font-family: 'Open Sans';
    box-shadow: 1px 1px 0px 0px black;
    cursor: pointer; }

.reports .body select {
  padding: 10px;
  width: 100%;
  border: 1px yellow solid;
  background: #292929;
  color: white;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 1px 1px 0px 1px black inset;
  font-family: 'Open Sans';
  font-size: 15px; }
.reports .body textarea {
  margin: 0px 0px 10px;
  height: 200px;
  box-shadow: black 1px 1px 0px 1px inset;
  padding: 10px;
  width: 224px;
  border: 1px solid yellow;
  background: #292929;
  color: white;
  box-sizing: border-box;
  min-height: 200px;
  max-width: 100%;
  min-width: 100%;
  font-family: "Open Sans";
  font-size: 15px; }
.reports .body button {
  background: yellow;
  color: #292929;
  font-family: 'Open Sans';
  font-weight: 800;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px yellow solid;
  box-shadow: 1px 1px 0px 1px black;
  cursor: pointer; }

.hide {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
